sudo: required
dist: trusty
language: node_js
node_js:
  - '6'

addons:
apt:
  sources:
    - google-chrome
  packages:
    - google-chrome-stable
    - google-chrome-beta

before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

before_script:
- ng build -prod
- cp ./dist/index.html ./dist/404.html

script: ng test --single-run

deploy:
  provider: pages
  skip_cleanup: true
  github_token: GITHUB_TOKEN # Set in travis-ci.org dashboard
  on:
    branch: master
  local_dir: dist
  repo: zixsma.github.io
  target_branch: master