<div class="card">
  <h3 class="card-header capitalize">{{repoDetail.name}}</h3>
  <div class="card-block">
    <p class="card-text">{{repoDetail.description}}</p>
    <p class="card-text">Stars: {{repoDetail.stargazersCount | number}}</p>
    <p class="card-text">Open Issues: {{repoDetail.openIssuesCount | number}}</p>
    <p class="card-text">Forks: {{repoDetail.forksCount | number}}</p>
    <p class="card-text">Pull Requests: {{pullRequestCount | number}}</p>
  </div>
  <div class="card-footer text-muted">
    <a class="btn btn-primary" [routerLink]="repoDetail.fullName + '/stargazers'">View enemies</a>
  </div>
</div>
