<div class="card">
  <div class="card-content">
    <h3 class="card-header capitalize">{{repoDetail.name}}</h3>
    <p class="card-text">{{repoDetail.description}}</p>
    <p class="card-text">Stars: {{repoDetail.stargazersCount | number}}</p>
    <p class="card-text">Open Issues: {{repoDetail.openIssuesCount | number}}</p>
    <p class="card-text">Forks: {{repoDetail.forksCount | number}}</p>
    <p class="card-text">Pull Requests: {{pullRequestCount | number}}</p>
  </div>
  <div class="card-action text-muted">
    <a [routerLink]="repoDetail.fullName + '/stargazers'">View enemies</a>
  </div>
</div>
