nav {
    background-color: #1976D2;
}

.brand-logo {
    background: url(https://angular.io/resources/images/logos/standard/logo-nav@2x.png) 16px 8px no-repeat;
    background-size: 160px 46px;
    width: 180px;
    height: 64px;
}
