<div class="jumbotron">
  <h1 class="display-5">Welcome to</h1>
  <h1 class="display-3">Frontend War Room</h1>
  <p class="lead">Here you can find your allies and enemies</p>
  <hr class="my-4">
  <h2>The Greatness Project is <span class="capitalize">{{repoDetail.name}}</span></h2>
  <p class="lead">{{repoDetail.description}}</p>
  <p class="card-text">Stars: {{repoDetail.stargazersCount}}</p>
  <p class="card-text">Open Issues: {{repoDetail.openIssuesCount}}</p>
  <p class="card-text">Forks: {{repoDetail.forksCount}}</p>
  <p class="card-text">Pull Requests: {{pullRequestCount}}</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" role="button" routerLink="angular/angular/stargazers">View allies</a>
  </p>
</div>
<div class="row">
  <div class="col">
    <poor-enemy-dashboard owner="facebook" repo="react"></poor-enemy-dashboard>
  </div>
  <div class="col">
    <poor-enemy-dashboard owner="vuejs" repo="vue"></poor-enemy-dashboard>
  </div>
</div>
