<div class="background-superhero-paper is-large">
  <div class="container">
    <img src="https://angular.io/resources/images/logos/angular/angular.svg" class="hero-logo">
    <p class="flow-text white-text">{{repoDetail.description}}</p>
    <div class="row">
      <div class="card hoverable col m8 offset-m2">
        <div class="card-content">
          <div class="row">
            <div class="col s6">
              <p><strong>Stars:</strong> {{repoDetail.stargazersCount | number}}</p>
              <p><strong>Open Issues:</strong> {{repoDetail.openIssuesCount | number}}</p>
            </div>
            <div class="col s6">
              <p><strong>Forks:</strong> {{repoDetail.forksCount | number}}</p>
              <p><strong>Pull Requests:</strong> {{pullRequestCount | number}}</p>
            </div>
            <a class="btn red-angular" routerLink="angular/angular/stargazers">View allies</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col m6">
      <poor-enemy-dashboard btnClass="blue-facebook" owner="facebook" repo="react"></poor-enemy-dashboard>
    </div>
    <div class="col m6">
      <poor-enemy-dashboard btnClass="green-vue" owner="vuejs" repo="vue"></poor-enemy-dashboard>
    </div>
  </div>
</div>