/* You can add global styles to this file, and also import other style files */
.navbar {
  margin-bottom: 20px;
}

.capitalize {
    text-transform: capitalize;
}

.header {
    color: #ee6e73;
    font-weight: 300;
}

a {
    cursor: pointer;
    &.btn {
        margin-top: 20px;
    }
}

body {
    background-color: #f3f3f3;
}

.blue-facebook { 
    background-color: rgb(64,88,147) !important;
}

.green-vue {
    background-color: rgb(98,181,135) !important;
}

.red-angular {
    background-color: rgb(206,62,57) !important;
}

.loader {
    padding: 10px;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid rgb(226, 50, 55); /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
